@import "tailwindcss";
@import "@catppuccin/tailwindcss/mocha.css";

* {
    transition: all 0.2s ease-in-out;
    @apply border-ctp-surface2;
}

input:focus, input:active {
    outline: none;
    @apply border-ctp-blue;
}